
<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Welcome to the amazing Recipe directory!
    </p>
    <p class="subtitle">
      Learn to cook yummy stuff!
    </p>
  </div>
</section>

    <figure class="image is-16by9">
      <iframe class="has-ratio"  src="https://images.unsplash.com/photo-1605210057707-8ac4e88bad73?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80"></iframe>
    </figure>
