
<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Welcome to the amazing Recipe directory!
    </p>
    <p class="subtitle">
      Learn to cook yummy stuff!
    </p>
  </div>
</section>
<div class="container is-fluid">
  <div class="notification is-primary">
    This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
    viewport size.
  </div>
</div>