<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">ERD</p>
      <p><%= image_tag "RecipeERD.drawio.png", alt: "img"  %></p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Description</p>
        <p>The data presented here includes variety of culinary recipes. The dataset used for this project includes the title of the recipe, directions, different ingredients needed to prepare the recipe and the category of the recipe.
        <br>
        <br>
          <p>There are 4 tables in total as following:</p>
        <br>
        <p>Recipe: id, title, directions, category_id</p>
        <p>Category: id, name</p>
        <p>Recipe Ingredients: receipe_id, ingredient_id</p>
        <p>Ingredient: id, name</p>
    </div>
  </div>
</div>
