<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <figure class="image is-512x512">
        <img src="https://cdn-icons-png.flaticon.com/512/3448/3448167.png">
      </figure>
    </a>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
       <p><%= link_to "Home", root_path %></p>
      </a>

      <a class="navbar-item">
        <p><%= link_to "Directory", recipes_path %></p>
      </a>

      <a class="navbar-item">
        About Us
      </a>

    </div>
  </div>
</nav>